{% extends "learning_logs/base.html" %}

{% block header %}
    <h2>主题: {{ topic }}</h2>
{% endblock header %}


{% block content %}

    <p><a href="{% url 'learning_logs:new_entry' topic.id %}">添加一个新条目</a></p>
    <p>以下是你创建的条目☺</p>

    <ul>
        {% for entry in entries %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        {{ entry.date_added|date:"Y M d (D), H:i" }}
                        <small>
                             <a href="{% url 'learning_logs:edit_entry' entry.id %}">编辑本条目</a>
                        </small>
                    </h3>
                </div>
            </div>

            <div class="panel-body">
            {{ entry.text|linebreaks }}
            </div> <!-- panel -->

        {% empty %}
            此主题还没有创建任何条目哦(⊙o⊙)
        {% endfor %}
    </ul>



{% endblock content %}
